body {
    align-items: center;
    background: linear-gradient(#141e30, #243b55);
    position: relative;
    justify-content: center;
    height: 100vh;
  }
  
  .form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
  }
  
  .EventosForm {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 550px;
    padding: 20px;
    width: 350px;
    margin: 0 auto;
  }
  .texta{
    border-radius: 5%;
  }